body{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family:'Segoe UI', sans-serif;
    margin: 0px;
}
.main{
    display: flex;
    flex-direction: column;
}
.navigation{
    display: flex;
    margin: 20px 70px 0px;
    justify-content: space-between;
    /* width: 3560px; */
    height: 62px;
    background: #F9F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}
.navigation__list{
    display: flex;
    flex: 0.8;
    justify-content: space-around;
}


.navigation__listitem{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    width:-webkit-fill-available;
    border-bottom: 3px solid #F9F5F5 ;
    justify-content: space-evenly;
    align-items: center;
}
.active{
    border-bottom: 3px solid #64B3E8;
}
span.iconify{
    width: auto;
}
.iconify{
    width: 46px;
    height: 22px;
    color: #64B3E8;
}
.navigation__listitem>h3{
    width: auto;
    height: 20px;
    margin: 0px;
    text-align: left;
    font: normal normal bold 14px/22px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.loginsignup{
    display: flex;
    flex: 0.05;
    justify-content: center;
    align-items: center;
}
.navigation__body{
    margin: 37px 70px 0px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(239 235 235 / 30%) 0% 0% no-repeat padding-box;
    border: 2px dashed rgb(1 35 69 / 30%);
    border-radius: 4px;
}
.select__files{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 25%;
    padding: 63px;
}
.select__filestopleft,.select__filestopright{
    display: flex;
    flex-direction: column;
}
.select__filestoprighttop,.select__filestoprighttopright,.select__filestoprightbetween,.select__filestop{
    display: flex;
    align-items: center;
}
.select__filestop{
    width: 100%;
    justify-content: space-evenly;
}
.select__filestoprighttopright{
    flex: 0.2;
    justify-content: space-evenly;
}
.select__filestoprighttop{
    width: 100%;
    margin-left: 12px;
    justify-content: space-between;
}
.select__filestoprighttopright>p{
    margin: 0px;
    color: #AEADA8;
    font-size: 15px;
}
.box{
    height: 80px;
    width: 80px;
    margin: 5px;
    border: 1px solid #AEADA8;
    border-radius: 5px;
}
.box>img{
    width: 77px;
    margin: 1px;
}
.clipboard{
    background-color: #012d5ab8;
    background-image: url(./images/microsoftedgenewlogo.jpg);
    background-size: contain;
    background-blend-mode: overlay;
}
.select__filestopleft>h1,.select__filestoprighttop>h1{
    margin: 0;
    margin-left: 5px;
    margin-bottom: 6px;
    font-size: 8px;
    color: #AEADA8;
}
.select__filesbutton>button{
    border: none;
    padding: 6px 17px;
    color: white;
    background-color: #64B3E8;
    border-radius: 5px;
    margin-top: 15px;
    outline: none;
}
.search{
    margin: 37px 70px 0px;
    min-height: 300px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgb(239 235 235 / 30%) 0% 0% no-repeat padding-box; */
    border: none;
    border-radius: 4px;
}
.body{
    display: none;
    align-items: center;
    flex-direction: column;
}
.activebody{
    display: flex;   
    
}
.body.item1>h2, .body.item2>h2{
    margin: 0;
    color: #64B3E8;
}

.body.item1 >button, .body.item2 >button, .featuresearch>button{
    margin: 10px 0px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-family: inherit;
    font-size: 21px;
    border: none;
    background-color: #64B3E8;
    border-radius: 4px;
}
.featuresearch>button{
    border: 1px solid #707070;
}
.body.item1>p , .body.item2>p, .body.item3>p{
    margin: 0;
    font-size: 14px;
    color:rgb(112 112 112 / 30%);
}
.body.item3{
    align-items: initial;
}
.body.item4>h2{
    margin: 0 0 30px;
    font-size: 17px;
    font-weight: 500;
    color: #707070;
}
.featuresearch>input{
    width: 750px;
    border: none;
    outline: none;
    background-color: rgb(239 235 235 / 0%);
    color: #C5C3BC;
    padding: 6px;
    font-size: 20px;
    border-bottom: 1px solid;
}
.popularlistings,.searchlistings{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: space-evenly;
}
/* .searchlistings{
    display: ;
} */
.popularlistings>img , .searchlistings>img{
    width: 16%;
    margin: 4px 0px;
}
.imageactive, .filterimageactive{
    border:2px solid #FC6703;
}
.filters{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px;
}
.filter{
    display: flex;
    height: 24px;
    align-items: center;
    background-color: #F9F5F5;
    border-radius: 15px 5px 5px 15px;
}
.filter>h3{
    margin: 0px;
    padding: 0px 10px 0px 24px;
    color: #807F7B;
    font-size: 12px;
}
.filter>h3>span{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: #F9F5F5;
    border: 1px solid #707070;
    margin: -4px -27px;
    position: absolute;
}
.trademark{
    display: flex;
    margin: 40px 70px;
    align-items: center;
}
.trademark>h2{
    padding-right: 10px;
    margin: 0px;
    text-align: left;
    font: normal normal normal 14px/22px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.trademark>img{
    width: 100px;
    height: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

/* Select files */

.select__files{
    display: none;
}

/* SignInBox */
.signupdialogbox, .signindialogbox, .forgetpassword{
    background-color: #64B3E8;
    width: fit-content;
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    box-shadow: 10px 10px 25px lightgrey;
    display: none;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signindialogbox, .forgetpassword{
    display: none;
    width:400px;
}

.signupdialogbox>h2, .signindialogbox>h2 , .forgetpassword>h2{
    color: white;
    font-size: 1.2rem;
}
.inputfield>img{
    /* width: 12px; */
    padding: 5px;
    border-right:1px solid #C5C3BC;
    background-color: #F9F5F5;
}
.formbetween{
    width:93%;
}
.social>img{
    width:20px; 
    padding: 10px;   
}
.signupdialogbox> form ,.signindialogbox>form ,.forgetpassword>form{
    display: flex;
    width: inherit;
    flex-direction: column;
}
.signupdialogbox>form>button, .signindialogbox>form>button , .forgetpassword>form>button{
    color: #012345;
    font-weight: 700;
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    font-family: inherit;
    background-color: #D8D6D1;
    border: 1px solid #707070;
}
.formline{
    display: flex;
    padding: 10px;
    align-items: center;
}
.formline>p, .signupdialogbox>p ,.signindialogbox>p,.formline>a , .forgetpassword>p{
    margin: 0px 7px;
    font-size: 12px;
    color: white;
}
.formline>p>a , .signupdialogbox>p>a ,.signindialogbox>p>a , .forgetpassword>p>a {
    color: white;
    cursor: pointer;
}
.inputfield{
    display: flex;
    align-items: center;
}
.inputfield>input{
    border: none;
    padding: 3px;
    outline: none;
}
.leftinputfield{
    padding-right: 10px;
}
.social{
    margin-bottom: 15px;
}
.loginbetween{
    display: flex;
    justify-content: space-between;
}

/* Expand Box */
.expansion{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 5.4%;
    width: 29%;
    background-color: white;
    border: 2px solid #807F7B;
    padding: 0px;
}
.imagesection{
    background-image: url(./images/expandimage.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 285px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.imagesectiontop > img{
    width: 15px;
    padding: 10px;
}
.imagesectionbottom{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.imagesectionbottom>span{
    background-color: rgb(100 179 232 / 40%);
    padding: 10px;
}
.imagesectionbottom1{
    margin: 0px 21px 0px 125px;
    color: white;
}
.imagesectionbottom2{
    margin-right: 5px;
}
.imagesectionbottom3{
    margin-right: 5px;
}

.estatedetails{
    display: flex;
    justify-content: space-around;
    margin:12px 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D8D6D1;
}
.estatedetail{
    display: flex;
}
.estatedetail>h3{
    margin: auto;
    padding-left: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #807F7B;
}
.estatelocation,.estatetags{
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D8D6D1;
}
.estatetags{
    border-bottom:none ;
    padding-bottom: 40px;
}
.estatelocation>h1{
    color: #807F7B;
    font-size: 22px;
}
.estatelocation>p{
    margin: 0px;
    color: #707070;
}
.estatetags>h2{
    color: #707070;
    margin: 30px 0px 10px;
    font-size: 14px;
}
.estatetags>p{
    color: #807F7B;
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
}
.estateoptions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #D8D6D1;
    border-top: 1px solid #D8D6D1;
}
.estateoptions>h1{
    font-size: 24px;
    color: #807F7B;
    margin: 0px;
    font-weight: 600;
    padding: 21px 40px;
    border-right: 1px solid #D8D6D1;
}
.estateoptions>h3{
    font-size: 18px;
    margin: 0px;
    color: #707070;
    padding: 25px 30px;
    border-right: 1px solid #D8D6D1;
    font-weight: 400;
}
.estateoptions>img{
    padding: 20px 30px;
}
.expansion>h1{
    text-align: center;
    font-size: 22px;
    margin: 0px;
    color: #64B3E8;
    padding: 17px 0px;
    width: 100%;
    background-color: #F9F5F5;
}
.searchimageactive{
    border: 1px solid #FC6703;
}

/* Expand Image */

.imagexpand{
    background-color: rgb(1 46 90 / 89%);
    position: absolute;
    padding: 30px;
    width: -webkit-fill-available;
    display: none;
    flex-direction: column;
}
.imagexpandtop{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 26%;
}
.imagexpandbottom{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #707070;
    justify-content: space-evenly;
}
.imagexpand>p{
    margin: 10px 0px;
    color: #F9F5F5;
    font-size: 12px;
}
/* Search Filter */
.search>h2{
    margin: 0px 0px 10px;
    font-size: 15px;
    color: #7b7070;
}
.searchresultsoptions__left{
    background-color: #F9F5F5;
    flex: 0.48;
    padding: 5px 25px 5px 5px;
}
.searchresultoptions{
    display: flex;
    width:100%;
    align-self: flex-start;
    margin-left: 8px;
    margin-top: 8px;
}
.searchoptions{
    display: flex;
    background-color: #85BEE4;
    width: 98%;
    padding: 5px;
    border: 1px solid rgb(112 112 112 / 30%);
    border-radius: 4px;
}
.searchresults, .savedresults{
    border: none;
    padding: 11px;
    width:120px;
    margin: 5px;
    outline: none;
    border-radius: 2px;
    font-weight: 600;
    background-color:#85BEE4;
    color:white ;
}
.search-active{
    color: #807F7B;
    background-color: #F9F5F5;
}
.searchresults.search-active::after,.savedresults.search-active::after{
    content: '';
    position: absolute;
    height: 19px;
    width: 120px;
    margin: 27px -108px;
    background-color: inherit;
}
.savedresults.search-active::after{
    margin:27px -105px;
}
.searchresultsoptions__leftfilters{
    display: flex;
    flex-direction: column;
}
.searchresultsoptions__leftfiltersoptions{
    display: flex;
}
.searchresultsoptions__leftfiltersoptions>button,.sro_lfoleft>button,.sro_lforight>button, .searchresultsoptions__leftbuttons>button{
    flex: 1;
    border: 2px solid #807F7B;
    padding: 10px;
    margin: 3px;
    color: #807F7B;
    font-size: 11px;
    outline: none;
    font-weight: 600;
    background-color: #F9F5F5;
}

.sro_lforight>button{
    padding: 10px 30px;
}
.searchresultsoptions__leftbuttons{
    margin-top: 25px;
}
.searchresultsoptions__leftbuttons>button{
    background-color: #64B3E8;
    color: white;
    border: none;

}
.closesearchresults{
    border: none;
    background-color: inherit;
    color: #64b3e8;
    margin-bottom: 20px;
    font-weight: 600;
    outline: none;
}
.opensearchresults{
    width:100%;
    display: none;
}
.opensearchresults>button{
    border: none;
    padding: 10px;
    background-color: white;
    color: #64b3e8;
    position: relative;
    margin-bottom: 20px;
    font-weight: 600;
    outline: none;
}
.searchresultsoptions__right{
    display: flex;
    flex: 0.54;
}
.togglesearchbefore{
    content: url(./images/triangle-solid.svg);
    position: absolute;
    margin-left: -18px;
    margin-top: 120px;
}

.searchresultsoptions__rightcard{
    display: flex;
    height: fit-content;
    flex-direction: column;
    margin: 2.7px;
    align-items: center;
    border: 2px solid #C5C3BC;
}
.searchresultsoptions__rightcardimg,.searchresultsoptions__rightcardsearch{
    margin: 12px;
    height: 74px;
    width: 74px;
    border-radius: 50%;
    border: 1px solid #707070;
    background-image: url(./images/mypic.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.searchresultsoptions__rightcardsearch{
    display: flex;
    background-color: #64B3E8;
    color: white;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    background-image: none;
}
.searchresultsoptions__rightcardfullsearch{
    height: fit-content;
    width:318px;
}
.fullsearchtop{
    display: flex;
    align-items: center;
    padding: 2px;
}
.fullsearchtop::after{
    content: '';
    height: 40px;
    width: 6px;
    margin-right: -3px;
    border: 1px solid #707070;
    position: relative;
    background-color: #64B3E8;
}
.fullsearchtop>img{
    border-radius: 50%;
    border: 1px solid #C5C3BC;
    height: 74px;
    margin: 10px;
}
.fullsearchtopinfo{
    display: flex;
    padding: 0px 4px;
    flex-direction: column;
}
.fullsearchtopinfoheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fullsearchtopinfoheader>h1{
    margin: 0px;
    font-size: 14px;
    color: #012D5A;
    border-bottom: 1px solid #C5C3BC;
}
.fullsearchtopinfoheader>p{
    margin: 0px;
    font-size: 10px;
}
.fullsearchtopinfo>h3,.fullsearchtopinfo>p{
    margin: 5px 0px;
    font-size: 12px;
}
.fullsearchtopinfo>p{
    font-size: 10px;
    color: #707070;
}
.fullsearchbottom{
    display: flex;
    justify-content: space-evenly;
    background-color: #F9F5F578;
    border-top: 1px solid #C5C3BC;
}
.fullsearchbottom>h4{
    margin: 0;
    font-size: 11px;
    color: #012D5A;
    padding: 4px 125px 4px 20px;
}
.fullsearchbottom>input{
    flex: 0.9;
    margin: 4px 8px;
    outline: none;
    background-color: #F9F5F578;
    font-size: 10px;
    border: none;
    border-bottom: 1px solid #C5C3BC;
}
.fullsearchbottom>img{
    padding: 0px 6px;
}

.searchresultsoptions__rightcard>h4{
    border-top: 1px solid #C5C3BC;
    background-color: #F9F5F578;
    font-size: 11px;
    padding: 4px 0px;
    color: #012D5A;
    width: 100%;
    margin: 0;
    text-align: center;
}

/* Saved Results Table */

.savedresultoptions{
    display: none;
    width: 99%;
    background-color: #f9f5f5;
    min-height: 350px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.savedresultoptions__topsearch{
    background: white;
    margin: 16px;
    font-size: 12px;
    color: #807F7B;
    padding: 3px 40px;
}
.savedresultoptions__top{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: flex-end;
}
.savedresultoptions__toptable{
    display: flex;
    width:100%;
    flex-direction: column;
}
.savedresultoptions__toptable>ul{
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    margin: 0px;
}
.savedresultoptions__toptable>ul>li,.tableheader>li{
    margin: 2px;
    padding: 4px 2px;
    text-align: center;
    font-size: 12px;
    color:#807F7B;
    background-color: white;
}
.tableheader>li{
    font-weight: 600;
    color: #707070;
}
.pagination{
    display: flex;
    width: 50%;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}
.pagination>p{
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
}
.pagination>button{
    border: none;
    outline: none;
    color: #85BEE4;
    background-color: transparent;
    padding: 5px 15px;
}
.pagination .button-active{
    color: white;
    background-color: #85BEE4;
}
.tableitem1{ width: 30px}
.tableitem2{width:60px}
.tableitem3{width:48px}
.tableitem4{width: 45px;}
.tableitem5{width:86px}
.tableitem6{width:35px}
.tableitem7{width:114px}
.tableitem8{width: 86px}
.tableitem9{width:55px}
.tableitem10{width:64px}
.tableitem11{width:135px}
.tableitem12{width:59px}
.tableitem13{width:49px}
.tableitem14{width:54px}
.tableitem15{width:41px}
.tableitem16{width:63px}
.tableitem17{width:90px}

@media screen and (max-width:412px){
    .navigation{
        margin: 20px 15px 0px;
    }
    .navigation__list{
        flex: 0.9;
    }
    .navigation__listitem>h3{
        font-size: 9px;
        margin: 0px;
        text-align: center;
        height: 25px;
        line-height: 12px;
    }
    .navigation__body{
        margin: 37px 15px 0px;
    }
    .body.item1>h2, .body.item2>h2{
        font-size: 1rem;
    }
    .body.item1 >button, .body.item2 >button, .featuresearch>button {
        font-size: 15px;
    }
    .body.item1>p, .body.item2>p, .body.item3>p{
        font-size: 10px;
    }
    .featuresearch>input{
        width: 225px;
        font-size: 7px;
    }
    .body.item4>h2 {
        margin: 0 0 10px;
        font-size: 10px;
    }
    .popularlistings>img, .searchlistings>img {
        width: 47%;
    }
    .filters{
        flex-wrap: wrap;
        justify-content: start;
    }
    .filter{
        margin: 5px;
    }
    .trademark{
        margin: 15px 25px;
    }
    .trademark>h2{
        font-size: 10px;
    }
    .trademark>img{
        width:75px;
        height:12px;
    }
    .select__files{
        margin: 40px 4%;
        padding: 58px 0px;
    }
    .box{
        height: 50px;
        width: 50px;
    }
    .box>img{
        width:48px;
    }
    .select__filestoprighttopright {
        flex: 0.3;
    }
    .search{
        margin: 37px 20px 0px;
    }
    .search>h2{
        font-size: 10px;
    }
    .searchresults, .savedresults {
        width: 100px;
        margin: 0px;
        font-size: 11px;
        padding: 9px;
    }
    .searchresults.search-active::after, .savedresults.search-active::after {
        width: 100px;
        margin: 20px -90px;
    }
    .savedresults.search-active::after {
        margin: 20px -88px;
    }
    .searchresultoptions {
        flex-direction: column;
        margin-left: 3px;
    }
    .closesearchresults{
        font-size: 10px;
    }
    .searchresultsoptions__leftfiltersoptions>button, .sro_lfoleft>button, .sro_lforight>button, .searchresultsoptions__leftbuttons>button {
        font-size: 8px;
        padding: 5px;
        margin: 1px;
    }
    .sro_lfoleft>button{
        font-size: 7px;
    }
    .searchresultsoptions__rightcardimg, .searchresultsoptions__rightcardsearch {
        margin: 8px;
        height: 50px;
        width: 50px;
    }
    .searchresultsoptions__rightcard>h4 {
        font-size: 7px;
    }
    .searchresultsoptions__rightcardfullsearch {
        width: 223px;
    }
    .fullsearchtop>img{
        height: 50px;
    margin: 5px;
    }
    .fullsearchtopinfoheader>h1 {
        font-size: 9px;
    }
    .fullsearchtopinfoheader>p {
        font-size: 7px;
    }
    .fullsearchtopinfo>h3, .fullsearchtopinfo>p {
        margin: 2px 0px;
        font-size: 7px;
    }
    .fullsearchbottom>input {
        margin: 2px 8px;
        font-size: 8px;
    }
    .fullsearchbottom>h4 {
        font-size: 7px;
        padding: 4px 72px 4px 5px;
    }
    .fullsearchbottom>img{
        width: 8px;
    }
    .expansion{
        top: auto;
        margin-top: 107px;
        right: auto;
        width: 85%;
    }
    .imagesection{
        height: 205px;
    }
    .imagesectiontop > img {
        width: 10px;
    }
    .imagesectionbottom{
        justify-content: flex-end;
        margin-bottom: 1px;
    }
    .imagesectionbottom>span{
        padding: 4px;
    }
    .imagesectionbottom1{
        margin: 0px 40px 0px 5px;
    }
    .estatedetails{
        margin: 5px 0px;
    padding-bottom: 4px;
    }
    .estatedetail{
        flex: 0.3;
    }
    .estatedetail>h3{
        margin: 0px;
        font-size: 9px;
    }
    .estatelocation, .estatetags {
        margin: 0px 15px;
    padding-bottom: 10px;
    }
    .estatelocation>h1{
        font-size: 15px;
    }
    .estatelocation>p{
        font-size: 12px;
    }
    .estatetags>h2{
        margin: 16px 0px 6px;
    font-size: 13px;
    }
    .estatetags>p{
        font-size: 10px;
    }
    .estateoptions>h1{
        font-size: 15px;
        padding: 8px 30px;
    }
    .estateoptions>h3{
        font-size: 12px;
        padding: 10px 30px;
    }
    .estateoptions>img {
        padding: 2px 10px;
        width: 13px;
    }
    .expansion>h1{
        font-size: 12px;
        padding: 10px 0px;
    }
    .imagexpand{
        padding: 15px;
    }
    .imagexpandtop>img , .imagexpandbottom1>img, .imagexpandbottom3>img{
        width: 20px;
    }
    .imagexpandbottom2>img{
        width:100%;
    }
    .imagexpand>p{
        font-size: 8px;
    }
    .savedresultoptions{
        width:100%
    }
    .savedresultoptions__top{
        width: 100%;
        overflow-x: scroll;
        align-items: unset;
    }
    .savedresultoptions__toptable{
        width: fit-content;
    }
    .pagination{
        width:90%;
    }
    .pagination>button{
        padding: 5px;
    }
    .savedresultoptions__toptable>ul{
        padding-left: 10px;
    }
}